<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
    <meta name="description" content="{{ .MetaDescription }}">
    <meta property="og:title" content="{{ .MetaPropertyTitle }}">
    <meta property="og:description" content="{{ .MetaPropertyDescription }}">
    <meta property="og:url" content="{{ .MetaOgURL }}">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/all.min.css">
    <link rel="stylesheet" href="/static/css/github.min.css">
    <link rel="stylesheet" href="/static/css/monokai-sublime.min.css">
    <script src="/static/js/highlight.min.js"></script>
    <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.js">
    </script>
    <script>hljs.highlightAll();</script>
</head>