{{ template "header.html" }}
<body>
    <div class="container">
        {{ template "sidebar.html" dict "Categories" .SidebarData.Categories "CurrentSlug" .CurrentSlug }}
        <main class="main-content">
            <h1>{{ .Title }}</h1>
            <p class="description">{{ .Description }}</p>
            <hr />
            {{ .Content }}
            {{ template "footer.html" }}
            <!-- <a class="twitter-timeline" data-width="500" data-height="500" data-theme="dark" href="https://twitter.com/Eureka_Coll?ref_src=twsrc%5Etfw">Tweets by Eureka_Coll</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
        </main>
        {{ template "sidebar-right.html"}}
    </div>
</body>
</html>